<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder  location="classpath:spring-common.xml"/>

    <context:component-scan base-package="com.willow.bean" use-default-filters="true" >

    </context:component-scan>
    <bean id="persion" class="com.willow.bean.Person" scope="singleton">
        <property name="age" value="12"></property>
        <property name="id" value="1"></property>
        <property name="name" value="yangliu"></property>
    </bean>
</beans>